<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Rongkai He</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/fonts/texgyreheros/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body ng-controller="MainController">
  <noscript>This website requires Javascript to display correctly.</noscript>
  <div class="app">
    <div id="wrapper" class="container">
      <div class="nav" data-scroll-index="1">
        <a href="{{home_url}}">{{ data.title }}</a> /
        <a href="" role="button" class="" data-toggle="modal" data-target="#modal-about">{{ data.about.title }}</a>
      </div>
      <div ng-repeat="project in data.projects | orderBy:'id':true">
        <div project id="project{{project.id}}" data-scroll-index="{{8 - project.id}}" class="row project">
          <div class="col-md-4 col-sm-12 col-caption">
            <div class="caption">
              {{ project.title }}
              /
              {{ project.year }}
              <br>
              <p class="project-desc">
              {{ project.desc }}
              </p>
            </div>
          </div>
          <div ng-if="project.imagecount > 0" >
            <div class="col-xs-12 col-md-4 col-sm-6 col-small-gutter col-main-img">
              <a class="bigimg-toggle" href="" role="button" class="" data-toggle="modal" data-target="#modal-image" data-project="{{ project.slug }}" data-imageid="1" data-imagecount="{{project.imagecount}}"> 
                <img class="main-img lazy" data-original="content/projects/{{ project.slug }}/{{ project.slug }}_1_s.jpg"></img>
              </a>
            </div>
          </div>
          <div ng-if="project.imagecount == 2" >
            <div class="col-xs-12 col-md-4 col-sm-6 col-small-gutter col-additional-img">
              <a class="bigimg-toggle" href="" role="button" class="" data-toggle="modal" data-target="#modal-image" data-project="{{ project.slug }}" data-imageid="2" data-imagecount="{{project.imagecount}}">
                <img class="main-img lazy" data-original="content/projects/{{ project.slug }}/{{ project.slug }}_2_s.jpg"></img>
              </a>
            </div>
          </div>
          <div ng-if="project.imagecount > 2">
            <div class="col-xs-6 col-sm-3 col-md-2 col-small-gutter col-additional-img">
              <a class="bigimg-toggle" href="" role="button" class="img-button" data-toggle="modal" data-target="#modal-image" data-project="{{ project.slug }}" data-imageid="2" data-imagecount="{{project.imagecount}}">
                    <img class="main-img lazy" data-original="content/projects/{{ project.slug }}/{{ project.slug }}_2_s.jpg"></img>
              </a>
              <a class="bigimg-toggle" ng-if="project.imagecount > 3" href="" role="button" style="img-button" data-toggle="modal" data-target="#modal-image" data-project="{{ project.slug }}" data-imageid="4" data-imagecount="{{project.imagecount}}">
                    <img class="main-img lazy" style="margin-top:15px;" data-original="content/projects/{{ project.slug }}/{{ project.slug }}_4_s.jpg"></img>
              </a>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-small-gutter col-additional-img">
              <a class="bigimg-toggle" href="" role="button" class="img-button" data-toggle="modal" data-target="#modal-image" data-project="{{ project.slug }}" data-imageid="3" data-imagecount="{{project.imagecount}}">
                    <img class="main-img lazy" data-original="content/projects/{{ project.slug }}/{{ project.slug }}_3_s.jpg"></img>
              </a>
              <a class="bigimg-toggle" ng-if="project.imagecount > 4" href="" role="button" class="img-button" data-toggle="modal" data-target="#modal-image" data-project="{{ project.slug }}" data-imageid="5" data-imagecount="{{project.imagecount}}">
                    <img class="main-img lazy" style="margin-top:15px;" data-original="content/projects/{{ project.slug }}/{{ project.slug }}_5_s.jpg"></img>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal: about -->
  <div class="modal fade" id="modal-about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content shadow">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <pre style=>{{ data.about.contact }}</pre>
              </div>
              <div class="col-md-8">
                {{ data.about.desc }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal: image -->
  <div class="modal fade" id="modal-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body noselect" style="position:relative">
            <div id="bigimg-next" style="display:none;"></div>
            <div id="bigimg-prev" style="display:none;"></div>
            <div id="bigimg"></div>
            <div id="bigimg-control">
              <div role="button" id="bigimg-select-prev" onclick="changeImg('#bigimg-select-prev')" class="bigimg-select" data-project="" data-imageid="" data-imagecount="">
                <div class="bigimg-arrow"><</div>
              </div>
              <div role="button" id="bigimg-select-next" onclick="changeImg('#bigimg-select-next')" class="bigimg-select" data-project="" data-imageid="" data-imagecount="" style="right:0;">
                <div class="bigimg-arrow" style="right:0;">></div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
    
  <!-- Modules -->
  <script src="app/app.js"></script>

  <!-- Controllers -->
  <script src="app/MainController.js"></script>

  <!-- Includes -->
  <script src="assets/lib/jquery.lazyload.js"></script>
  <script src="assets/lib/scrollIt.min.js"></script>
  <script src="scripts.js"></script>
</body>
</html>