<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <title>Rongkai He</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/fonts/texgyreheros/stylesheet.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body ng-controller="MainController">
  <div class="app">
    
    <div id="wrapper" class="container">
      <div class="nav">
      <a href="{{home_url}}">{{ data.title }}</a> /
      <a href="" role="button" class="" data-toggle="modal" data-target="#modal-about">{{ data.about.title }}</a>
      </div>
      
      <div class="row project" ng-repeat="project in data.projects | orderBy:'id':true">
        <div class="col-md-4 col-sm-12 col-caption">
          <div class="caption">
            {{ project.title }}
            /
            {{ project.year }}
            <br><br>
            <p class="project-desc">
            {{ project.desc }}
            </p>
          </div>
        </div>
        <div ng-if="project.image > 0" >
          <div class="col-xs-12 col-md-4 col-sm-6 col-main-img">
            <a href="" role="button" class="" data-toggle="modal" data-target="#modal-image" data-project="{{ project.slug }}" data-imageid="1">
              <img class="main-img" style="width:100%;" ng-src="content/projects/{{ project.slug }}/{{ project.slug }}_1_s.jpg"></img>
            </a>
          </div>
        </div>
        <div ng-if="project.image == 2" >
          <div class="col-xs-12 col-md-4 col-sm-6 col-additional-img">
            <a href="" role="button" class="" data-toggle="modal" data-target="#modal-image" data-project="{{ project.slug }}" data-imageid="2">
              <img class="main-img" style="width:100%;" ng-src="content/projects/{{ project.slug }}/{{ project.slug }}_2_s.jpg"></img>
            </a>
          </div>
        </div>
        <div ng-if="project.image > 2">
          <div class="col-xs-12 col-md-4 col-sm-6 col-additional-img">
            <a href="" role="button" class="" data-toggle="modal" data-target="#modal-image" data-project="{{ project.slug }}" data-imageid="2">
              <img class="main-img" style="width:100%;" ng-src="content/projects/{{ project.slug }}/{{ project.slug }}_2_s.jpg"></img>
            </a>
          </div>
        </div>
      </div>
      
    </div>
  
  </div>

  <!-- Modal: about -->
  <div class="modal fade" id="modal-about" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <pre style=>{{ data.about.contact }}</pre>
              </div>
              <div class="col-md-8">
                {{ data.about.desc }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal: image -->
  <div class="modal fade" id="modal-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="big-img"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Includes -->
  <script src="scripts.js"></script>

  <!-- Modules -->
  <script src="app/app.js"></script>

  <!-- Controllers -->
  <script src="app/MainController.js"></script>
  
</body>
</html>