html, body{font-family:"texgyreheros";font-weight: normal; height:100%;width:100%;margin:0;font-size:16px;line-height:24px;color:rgba(0,0,0,1.00);}
.bold{font-weight: bold;}
b{font-weight: bold;}

.nav{padding-top:20px;margin-bottom:100px;}

.project{margin-bottom:60px}
.caption{min-height:150px;cursor:url("assets/img/cursor.png"), auto;}
.project-desc{margin-top:30px;max-height:0px;overflow:hidden;transition: max-height 0.5s;}
.caption:hover .project-desc{max-height:300px;}
.col-small-gutter {padding-left:15px;padding-right:0px;}

.modal-backdrop{background-color:darkblue}
.modal-body{padding:0;}
.modal-dialog{width:inherit}

#modal-about .modal-dialog{margin:0;width:100vw;}
#modal-about .modal-content{border-radius:0;border:none;padding:20px 17px 50px 0!important}

#modal-image .modal-dialog{margin:0;pointer-events:none;}
#modal-image .modal-content{box-shadow:none;border:none;background-color:transparent;}

#modal-image.fade:not(.in) .modal-dialog {-webkit-transform:none;transform:none;}

#bigimg, #bigimg-next, #bigimg-prev{position:absolute;top:0;left:0;height:100vh;width:100vw;background-position: center;background-size:contain;background-repeat: no-repeat;}
#bigimg-control{position:fixed;height:100vh;width:100vw;}
.bigimg-select{pointer-events: all;height:100%;position:absolute;top:0;width:20%;}
.bigimg-arrow{padding:10px;display:inline;font-size:48px;top:47%;position:absolute}
.bigimg-select:hover .bigimg-arrow{color:white;}

.main-img{width:100%;}

.shadow {box-shadow:0 0 15px white;}
.noselect {-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}

a{color:#000;}
a:hover, a:focus{color:#000;text-decoration:none;outline:none;}
a:hover{border-bottom:1px solid #000;}
a.bigimg-toggle:hover{border-bottom:none;}

pre{padding:inherit;margin:inherit;font-size:inherit;line-height: inherit;color: inherit;word-break: normal;word-wrap: normal;background-color: inherit;border:none;border-radius:0; font-family: inherit}

@media (max-width: 991px){
  .caption{min-height:0px;}
  .project-desc{margin-top:0px;}
  .project{margin-right:0px}
}

@media (max-width: 767px){
  .col-additional-img{padding-top:15px}
}
